node_modules/
app/node_modules/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.env
venv/
api/.env
api/venv/
__pycache__/
server/**/__pycache__

app/.env.json

migrations/
api/migrations/

.expo-shared/
.vscode/
