node_modules/
app/node_modules/
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# .env
venv/
server/.env
server/venv/
__pycache__/
server/**/__pycache__

# migrations/
# api/migrations/

.expo-shared/
.vscode/
